body, html {
    margin: 0;
    padding: 0;
    height: 100%;
}

body > .wrapper {
    min-height: 80%;
}

body {
    padding-top: 60px; 
    color: #34495e;
}

h1,h2,h3,h4,h5,h6 {
    
    /*font-family: 'rsubold';*/
}

p { 
    font-size: 1.2em;
}

a { color: #3D5AFE; }

.btn-primary { background-color: #3D5AFE !important; }

.navbar,.navbar-main {
    background-color: #90CAF9 !important;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.nav-stacked li > a {
    color: #0D47A1 !important;
}
.nav-stacked li > a:hover,
.nav-stacked li > a:focus {
    background-color: #1565C0;
    color: #fff !important;
}
.nav-stacked li.active a {
    background-color: #90CAF9;
}

.panel-edit .panel-heading {
    background-color: #E8F5E9;
    color: #000;
}

.panel-heading .panel-title {
    font-size: 1.3em !important;
    padding: 5px 5px;    
}

.panel-heading .btn {
    margin-top: 0;
    margin-bottom: 0;
}

/* carousel */
.carousel-text { 
    color: #fff; 
    font-size: 1.5em;
    text-shadow: 1px 1px #000;
}

.carousel-text h2 {
    margin-top: 30px;
    margin-bottom: 20px;
    font-size: 2.2em;
    font-weight: bold;
}

.carousel-text .action {
    margin-top: 140px;
}

/* modal transition effect */
.modal-dialog {
    margin-top: 60px;
}

.modal.transform .modal-dialog {
  -webkit-transition: -webkit-transform .6s ease-in, opacity .9s ease-in;
       -o-transition:      -o-transform .6s ease-in, opacity .9s ease-in;
          transition:         transform .6s ease-in, opacity .9s ease-in;
  -webkit-transform: translate(100%, -100%) rotateX(60deg) rotateY(60deg) rotateZ(0deg) scale(0,0);
      -ms-transform: translate(100%, -100%) rotateX(60deg) rotateY(60deg) rotateZ(0deg) scale(0,0);
       -o-transform: translate(100%, -100%) rotateX(60deg) rotateY(60deg) rotateZ(0deg) scale(0,0);
          transform: translate(100%, -100%) rotateX(60deg) rotateY(60deg) rotateZ(0deg) scale(0,0);
    
    opacity: 0;
}
.modal.in .modal-dialog {
  -webkit-transform: translate(0, 0) rotateX(0deg) rotateY(0deg) rotateZ(0deg) scale(1,1);
      -ms-transform: translate(0, 0) rotateX(0deg) rotateY(0deg) rotateZ(0deg) scale(1,1);
       -o-transform: translate(0, 0) rotateX(0deg) rotateY(0deg) rotateZ(0deg) scale(1,1);
          transform: translate(0, 0) rotateX(0deg) rotateY(0deg) rotateZ(0deg) scale(1,1);
    opacity: 1;
}



footer {
    margin-top: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    background: #90CAF9;
    color: #fff;
}
footer a { color: #fef; }

footer .container {
    
}

.fa-check,
.fa-check-circle-o,
.fa-check-circle {
    color: green;
    font-size: 1.5em !important;
}